
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/TicTacToe.iml
/.idea/vcs.xml
